.like__btn {
    width: 22px;
    height: 19px;
    background-image: url(../../../image/like.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    border: none;
    padding: 0;
    background-color: transparent;
    z-index: 3;
}

.like__btn:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 1s ease;
}