.popup__form {
    background-color: #ffffff;
    color: #000;
    display: flex;
    flex-direction: column;
    max-width: 358px;
    margin: 45px auto 40px;
}

@media screen and (max-width: 1023px) {
    .popup__form {
        max-width: 306px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .popup__form {
        max-width: 238px;
        margin-bottom: 25px;
        margin-top: 75px;
    }
}