.profile__info {
    margin: 22px 0 30px 30px;
    max-width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: max-content 25px;
    gap: 16px 18px;
}

@media screen and (max-width: 1279px) {
    .profile__info {
        max-width: 100%;
        margin: 26px auto 36px;
        gap: 14px 10px;
        justify-self: center;
    }
}