.footer {
    max-width: 880px;
    margin: 67px auto 60px;
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: 600px;
        padding-bottom: 45px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 282px;
        padding-bottom: 36px;
    }
}