.popup__add-btn {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    margin: 0;
    padding: 14px 0 14px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    border-radius: 2px;
}

.popup__add-btn:hover {
    opacity: 0.8;
    transition: opacity 1s ease;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__add-btn {
        font-size: 14px;
        line-height: 17px;
        margin-top: 45px;
        padding: 13px 0 14px;
    }
}